<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="shortcut icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 1 1'></svg>">
</head>
<body>
{% block content -%}{% endblock -%}
<script>
{%- block js -%}{% endblock -%}
</script>
</body>
</html>
